/* HERO */

.heroSection {
  background: url("https://demo.bootstraptemple.com/app-landing/img/banner-4.86a86274.png")
    no-repeat;
  background-size: 100% 80%;
  min-height: 100%;
  padding-top: 6rem;
}
