.cameraContainer {
  background-color: #eee;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0 1rem 1rem 0;
}

.camera {
  max-width: 100%;
  border-radius: 0.5rem;
}

.cheatingStatus {
  margin-bottom: 1rem;
}
